<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Equipe municipale</ion-title>
  </ion-navbar>
</ion-header>

<ion-content > 
    <ion-card *ngFor="let mairie of tabMairie">
    <ion-card-content>
      <ion-card-title>
        {{ mairie.title }}
      </ion-card-title>
        <ion-card *ngFor="let maire of mairie.maire">
            <ion-card-title>
                Le maire            
            </ion-card-title>
            <img src="{{ maire.photo }}"/>
            <p>{{ maire.nom }}</p>
        </ion-card>
        <ion-card>
            <ion-card-title>
                Les conseillers            
            </ion-card-title>
            <ion-card *ngFor="let conseille of mairie.conseil">
                <img src="{{ conseille.photo }}"/>
                <p>{{ conseille.nom }}</p>
            </ion-card>
        </ion-card>
        </ion-card-content>
    </ion-card>
<div id="margePub"></div>
</ion-content>
<ion-row #pub id="pub">
      <button id="pubButton" ion-button full *ngFor="let pub of annonceurPub" (click)="itemTapped(pub)">{{pub.title}}</button>
</ion-row>>
